/**
 * css of the popup for successful login
 */

.goodPasswordText {
    margin-top: 10px;
}


.goodPasswordTitle {
    text-align: center;
    padding-top: 1;
    font-size: 1.3em;
}


.goodPasswordDesc {
	text-align: center;
	line-height: 150%;
	font-size: 0.8em;
    padding-top: 35;
}