/**
 * CSS for popup "wrong password"
 */

.wrongPasswordText {
    margin-top: 10px;
}


.wrongPasswordTitle {
    text-align: center;
    padding-top: 1;
    font-size: 1.3em;
}


.wrongPasswordDesc {
	text-align: center;
	line-height: 150%;
	font-size: 0.9em;
    padding-top: 20;
}